{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant picker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    <div class="content">
        <div class="side">
            <div class="container">
                <div class="header">404 - Page not found</div>
                <div class="description">
                    SORRY<br>
                    We couldn't find that page
                </div>
            </div>
        </div>
        <div class="side">

        </div>
    </div>

</body>
</html>